.explore-page {
    height: 125vh;
    padding-top: 4em;
    overflow: hidden;
}
.explore-container {
    display: flex;
    position: relative;
}

.explore-left {
    flex-basis: 50%;
    height: 100vh;
    margin-top: 4em;
}

.explore-right {
    width: 50%;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

.arrow-up{
    background-color:red;
    z-index: 40;
    position: absolute;
    top:45%;
    right:2%
}

.arrow-down{
    background-color:red;
    z-index: 40;
    position: absolute;
    top:45%;
    left:2%
}

.explore-container .explore-left  h4{
    font-weight: bold;
    /* font-size: 2em; */
    font-size: 1.9em;
    cursor: pointer;
    color: rgb(192, 192, 192);
}
.explore-container .explore-left  h4{
    color: rgb(34, 34, 34);
    font-size: 2em;

}
.container-text-explore{
    width: 80%;
    margin: 0em auto;
    margin-bottom: 4em;
    position: relative;
}
.container-text-explore  p {
    line-height:1.2em;
    padding: 1em 0;
}

.container-text-explore .species{
    color:red;
    font-size:2em;
    font-weight: 600;
    position: relative;
}

.container-text-explore .species span.latin{
    color:blue;
    position: absolute;
    font-size:0.5em;
    left:25em;
    bottom:0;
}

.container-text-explore p.content-legend{
    position: relative;
    font-size:1.2em;
    font-weight: 600;
}

.container-text-explore p.content-legend span.right{
    position: absolute;
    left:7em;
    font-size:1em;
    font-weight: 200;

}

.container-text-explore .textToPop {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.container-text-explore .textToPop a{
    display: none;
}
.container-text-explore .textToPop a.active{
    display: block;
}

.explore-container .explore-left a {
    text-transform: uppercase;
    font-weight: 600;
    color: #1dd8fe;
    position: absolute;
    right: 0;
    bottom: -2em;
    text-decoration: none;
}
.explore-container .explore-right {
    opacity: 0;
    transition-duration: 0.5s;
}
.explore-container .explore-right.image-1 {
    opacity: 1;
}
@media(max-width:65em) {
    .explore-page{
        height: 130vh;
    }
    .explore-container .explore-left h4{
        font-size: 1.65em;
    }
    .container-text-explore .textToPop {
        font-size: 0.9em;
    }
}

@media(max-width:50em) {
    .explore-page{
        height: 135vh;
    }
    .container-text-explore{
        margin: 2.5em auto;
    }
    .explore-container .explore-left h4.active{
        font-size: 1.75em;
    }
    .explore-container .explore-left h4{
        font-size: 1.45em;
        margin-bottom: 0.5em;
    }
    .explore-container .explore-left {
        flex-basis: 100%;
        margin-top: 2em;
    }
    .explore-container .explore-left p {
        line-height:1.35em;
    }
    .explore-container .explore-right{
        display: none;
    }
    .container-text-explore .textToPop {
        padding: 0;
    }
}
@media(max-height:60em) {
    .explore-page{
        height: 150vh;
    }
}