#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 30;
}

#footer>a{
    padding: 1.5em 0;
}
#footer>a>img{
    max-height: 1.5em;
    align-self: center;
}
#footer .menu_footer {
    padding-bottom: 1.5em;
}
#footer .menu_footer a{
    font-size: 1em;
    font-weight: 400;
    text-transform: none;
}
#footer .logo_container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 1.5em;
    
}
#footer .logo_container img {
    max-width: 2em;
}

#footer .copyright {
    width: 100%;
    border-top: 0.1em solid;
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    font-size: 0.8em;
}
#footer .menu-footer-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#footer .menu-footer-container ul li {
    flex-basis: 25%;
    padding-bottom: 0.4em;
    text-align: center;
    display: flex;
    justify-content: center;
}
@media(min-width:30em){
    #footer .logo_container {
        width: 60%;
    }
    #footer .menu_footer a{
        font-size: 0.9em;
    }
}
@media(min-width:54em){
    #footer .logo_container {
        width: 25%;
    }
    #footer .menu-footer-container ul li{
        flex-basis: auto;
    }
}